  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:wght@200;300;400;500&display=swap');

  /* font-family: 'Bebas Neue', cursive;
font-family: 'Plus Jakarta Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

 p {
    font-family: 'Plus Jakarta Sans', sans-serif;
 }

 .container {
    max-width: 1200px;
    margin: 0 auto;
 }

 .header {
    background: #FBC31A;
    box-shadow: 4px 4px 4px #00000040;
    min-height: 40vh;
    display: flex;
    align-items: center;  
 }

 .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .logo img {
    width: 15%;
 }

 .menu .navbar ul li {       
    /* border: 1px solid blue; */
    display: flex;
    align-items: left;
    position: relative;
    float: left;
    width: 100%;    
    justify-content: space-between;

 }


 .menu .navbar ul li a {
    font-size: 18px;
    padding: 40%;
    color: #1586C2;
    display: block;
    font-weight: bold;
 }

 .menu .navbar ul li a:hover {
    color: #EF3C1E;    
 }

 #menu {
    display: none;
 }

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    padding: 100px 0;
    display: flex;
    align-items: center;    
}

.header-txt {
    width: 50%;
    padding-right: 100px;
}

