header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 187, 0);
    top: 0;
    width: 100%;
}

.logo{
    width: 30%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.search_widget{
    color: #605d70;
    margin: 0;
    font-weight: 400;
    text-align: left;
    background-color: rgb(255, 187, 0);
    padding: 30px 400px 30px 400px;
}

.navContainer{
    width: 400px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}

.navContainer > .navList{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.navList>li {
    list-style: none;
}

.navList>li>a {
    text-decoration: none;
    color: rgb(53, 53, 177);

}

.navList>li :hover {
    background-color: rgba(235, 164, 58, 0.966);
}

.footer{
  background-color: url(79ad7a5d-6c6c-47ff-bbd7-24e7b0a25437_1.ddaa57801a14813c0886ff574974b1ec.jpg);
  color: black;
}

  footer ul{
    padding:0;
  }
  footer li{
    list-style: none;
  }

  .logo{
    width: 30%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

  .wrap-footer{
    display: grid;
    grid-template-columns: 30% 15% 15% 20%;
    column-gap: 5%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
  }
  .logo-element_footer{
    display: flex;
    margin: 2rem 0;
  }
  .logo-element_footer img{
    max-height: 75px;
  }
  .element-footer h5{
    margin: 1rem 0;
  }
  .text-element-footer li{
    line-height: 2;
  }
  .link-elements-footer li a{
    color:#FFC300;
  }
  .rrss-element-footer ul{
    display: flex;
    flex-flow: wrap;
  }
  .rrss-element-footer img{
    width: 35px;
  }
  .rrss-element-footer li{
    margin-right: 1rem;
  }
  .footer-creds{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: black;
    font-size: .9rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  .legal-creds ul{
    display: flex;
    flex-flow: row;
  }
  .legal-creds ul li{
    padding-right: 1rem;
  }
  .legal-creds ul a{
    color: black;
    font-size: .9rem;
  }


.search__container {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
     
.search__input {
  width: 200%;
  padding: 12px 24px;
  margin: 20px 0 50px 0;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}


#msform {
   width: 400px;
   margin: 50px auto;
   text-align: center;
   position: relative;
 }

 #msform fieldset {
   background: white;
   border: 0 none;
   border-radius: 3px;
   padding: 20px 30px;
   box-sizing: border-box;
   width: 80%;
   margin: 0 10%;
   position: absolute;
 }

 #msform fieldset:not(:first-of-type) {
   display: none;
 }

 #msform input, #msform textarea {
   padding: 15px;
   border: 3px solid black;
   border-radius: 15px;
   margin-bottom: 10px;
   width: 100%;
   box-sizing: border-box;
   font-family: montserrat;
   color: #2C3E50;
   font-size: 13px;
   box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.53);
 }

 #msform .action-button {
   width: 150px;
   background: #fbc31a;
   font-weight: bold;
   color: white;
   border: 0 none;
   border-radius: 15px;
   cursor: pointer;
   padding: 10px 5px;
   margin: 10px 5px;
   box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.53);
 }

 #msform .action-button:hover, #msform .action-button:focus {
   box-shadow: 0 0 0 2px white, 0 0 0 3px #fbc31a;
 }

 .fs-title {
  font-size: 20px;
   text-transform: uppercase;
   color: #2C3E50;
   margin-bottom: 10px;
   text-decoration: underline;
 }

 .fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
 }



 #loginform{
  text-align: center;
  position: relative;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-sizing: border-box;
  width: 60%;
  margin: -50% 40%;
 }

.titleLogin{
  font-size: 30px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    text-decoration: underline;
}

.subtitlelogin{
  font-weight: normal;
font-size: 20px;
color: #666;
margin-bottom: 20px;
}

 #login .action-button {
  width: 150px;
  background: #fbc31a;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.53);
}

#login .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #fbc31a;
  }

#login input, #msform textarea {
  padding: 15px;
  border: 3px solid black;
  border-radius: 15px;
  margin-bottom: 75px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
  box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.53);
}


