@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:wght@200;300;400;500&display=swap');

/* font-family: 'Bebas Neue', cursive;
font-family: 'Plus Jakarta Sans', sans-serif; */

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 187, 0);
  top: 0;
  width: 100%;
}

.logo{
  width: 30%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}



.navContainer{
  width: 400px;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.navContainer > .navList{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.navList>li {
  list-style: none;
}

.navList>li>a {
  text-decoration: none;
  color: rgb(53, 53, 177);

}

.navList>li :hover {
  background-color: rgba(235, 164, 58, 0.966);
}





.containerTitulo{
  /* background-color: #1586C2;
  height: 581px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%; */

  position: absolute;
  width: 1440px;
  height: 581px;
  left: 0px;
  top: 100px;

  background: #1586C2;
}

.textLeft{
  height: 112px;
  width: 100px;
  left: 80px;
  top: 210px;
  border-radius: nullpx;
  position: absolute;
  /* position: relative; */
  font-family: 'Bebas Neue';
  font-style: normal;
  /* font-weight: 200; */
  font-size: 70px;
  line-height: 90px;
  color: #FFFFFF;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}


.buttonBuy{
  height: 78.97px;
  width: 353.69px;
  left: 385px;
  top: 380px;
  border-radius: 5px;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  position: absolute;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400px;
  font-size: 60px;
  line-height: 80px;
  box-shadow: 16px 15px 0px -4px rgba(0,0,0,1);
}

.logo2{
  position: absolute;
  width: 250px;
  height: 267px;
  left: 77px;
  top: 3px;
}

.pictureRight{
  border-radius: 169px 0px 0px 0px;
  position: absolute;
  width: 552px;
  height: 504px;
  left: 888px;
  top: 77px;
}

.boxPictureCenter{
  box-sizing: border-box;
  position: absolute;
  width: 283px;
  height: 283.94px;
  left: 645px;
  top: 248.06px;
  background: #FBC31A;
  border: 5px solid #000000;
  border-radius: 0px;
}

.boxPictureCenter > .pictureCenter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 246px;
  height: 247px;
  left: 13px;
  top: 13px;
  background: #EFF2F6;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




.containerMarks{
  background-image: url("https://i.ibb.co/kqsgQ7q/fondohistorietas.jpg");
  background-size: cover;
}

.containerMarks{
  position: absolute;
  width: 1440px;
  height: 489px;
  left: 0px;
  top: 681px;
  
}

.containerMarks > .titleMarks {
  position: relative;
  width: 286px;
  height: 72px;
  left: 559px;
  top: 50px;

  font-family:"Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1A202C;
}

.logoDc{
  position: absolute;
  width: 214px;
  height: 214px;
  left: 101px;
  top: 180px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  
}

.logoMarvel{
  position: absolute;
  width: 214px;
  height: 214px;
  left: 357px;
  top: 180px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logoLordrings{
  position: absolute;
  width: 214px;
  height: 214px;
  left: 613px;
  top: 180px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logoIvrea{
  position: absolute;
  width: 214px;
  height: 214px;
  left: 869px;
  top: 180px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logoStarwars{
  position: absolute;
  width: 214px;
  height: 214px;
  left: 1125px;
  top: 180px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.containertitleMidle{
  box-sizing: border-box;
  position: absolute;
  width: 638.21px;
  height: 90.99px;
  left: 400px;
  top: 1250px;

  background: #FBC31A;
  border: 3px solid #000000;
  border-radius: 5px;
  box-shadow: 16px 15px 0px -4px rgba(0,0,0,1);
}

.containertitleMidle > .titleYellow{
  position: absolute;
  width: 634px;
  height: 72px;
  left: 10px;
  top: 10px;
}

.titleYellow{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 150%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.textYellow{
  position: absolute;
  width: 529.48px;
  height: 67.42px;
  left: 65px;
  top: 136.35px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1A202C;
}


.imgLauLeft{
  position: absolute;
  width: 350px;
  height: 300px;
  left: 10px;
  top: 500px;
  border: 5px solid #000000;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 7px;
}

.imgRoRight{
  position: absolute;
  width: 350px;
  height: 300px;
  left: 1080px;
  top: 500px;
  border: 5px solid #000000;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 7px;
}




.footer{
  background-color: url(79ad7a5d-6c6c-47ff-bbd7-24e7b0a25437_1.ddaa57801a14813c0886ff574974b1ec.jpg);
  color: black;
  justify-content: space-between;
  /* display: flex; */
  top: 0;
  width: 100%;
}

footer ul{
  padding:0;
}

footer li{
  list-style: none;
}

.logo{
  width: 30%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.wrap-footer{
  display: grid;
  grid-template-columns: 30% 15% 15% 20%;
  column-gap: 5%;
  padding: 1rem;
  margin: 2rem auto;
  width: 100%;
}

.logo-element_footer{
  display: flex;
  margin: 2rem 0;
}

.logo-element_footer img{
  max-height: 75px;
}

.element-footer h5{
  margin: 1rem 0;
}

.text-element-footer li{
  line-height: 2;
}

.link-elements-footer li a{
  color:#FFC300;
}

.rrss-element-footer ul{
  display: flex;
  flex-flow: wrap;
}

.rrss-element-footer img{
  width: 350px;
}

.rrss-element-footer li{
  margin-right: 1rem;
}

.footer-creds{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: black;
  font-size: .9rem;
  margin: 0 auto;
  background-color: #fbc31a;
  top: 0;
  width: 100%;

}

.legal-creds ul{
  display: flex;
  flex-flow: row;
}

.legal-creds ul li{
  padding-right: 1rem;
}

.legal-creds ul a{
  color: black;
  font-size: .9rem;
}
